@import "tailwindcss";

/* Utility container */
@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}

/* Global */
html,
body {
    font-family: "Montserrat", "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
    /* احذف أو لا تضع scroll-padding-top هنا إطلاقاً! */
}

button {
    cursor: pointer;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
    outline: none;
}

/* ثبات النافبار */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20000;
    height: 72px; /* عدل الرقم حسب ارتفاع نافبارك */
    background: #fff;
    box-shadow: 0 2px 12px rgba(11, 27, 45, 0.04);
}

.main-layout {
    --navbar-height: 72px;
    padding-top: var(--navbar-height);
}


